#root {
  background-image: url('./src/assets/gokuart.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-container {
  max-width: 1000px;
  width: 80vw;
  margin: 40px auto;
  padding: 32px;
  background: #da540765; 
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  margin-bottom: 24px;
  color: #2055e4;
}

.login-container h2 {
  display: block;
  margin-bottom: 8px;
  color: #000000;
}

.login-container input {
  width: 75%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 24px;
}

.login-button-group {
  display: flex;
  gap: 12px;
  width: 100%;
  margin-top: 8px;
  justify-content: center;
}

.login-container button {
  box-sizing: border-box;
  width: auto;
  color: #3a26ab;
  background: #4f8cff;
  transition: background 0.2s;
}

.login-form {
  width: 100%;
}

.login-container button:hover {
  background: #da5407;
}
