#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 32px;
  background: #07137c5c;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container h1 {
  margin-bottom: 24px;
  color: #fbfbfb;
}

.login-container h2 {
  display: block;
  margin-bottom: 8px;
  color: #0dc7d4;
}

.login-container input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.login-button-group {
  display: flex;
  gap: 12px;
  width: 100%;
  margin-top: 8px;
  justify-content: center;
}

.login-container button {
  box-sizing: border-box;
  width: auto;
  color: #3a26ab;
  background: #4f8cff;
  transition: background 0.2s;
}

.login-form {
  width: 100%;
}

.login-container button:hover {
  background: #86a5d7;
}
