.progress-page {
  background-image: url('../src/assets/allmight.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-page h1 {
  color: #1a73e8;
  margin-bottom: 10px;
}

.progress-page p {
  color: #555;
  margin-bottom: 25px;
}

.progress-table-container {
  overflow-x: auto;
}

.workout-table {
  color: #1a73e8;
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  background-color: rgb(160, 223, 252);
  border-radius: 10px;
  overflow: hidden;
}

.workout-table th,
.workout-table td {
  border: 1px solid #ddd;
  padding: 10px 12px;
  text-align: left;
}

.workout-table th {
  background-color: #eaf2fe;
  color: #1a73e8;
  font-weight: bold;
}

.workout-row {
  cursor: pointer;
  background-color: #fff;
  transition: background 0.2s;
}

.workout-row:hover {
  background-color: #f1f6ff;
}

.exercise-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  background: #fafafa;
  border-radius: 6px;
}

.exercise-table th,
.exercise-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.exercise-table th {
  background-color: #f0f4ff;
  color: #2a5bd7;
}

.no-data {
  text-align: center;
  color: #777;
  font-style: italic;
}

.exercise-table input {
  width: 70px;
  padding: 4px;
  text-align: center;
}

.save-changes-container {
  text-align: right;
  margin-top: 10px;
}

.save-btn {
  background-color: #4caf50;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background-color: rgb(81, 78, 78);
}

.filter-section {
  color: #e8e11a;
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.stat-card {
  background: rgb(235, 226, 102);
  border-radius: 12px;
  padding: 2px 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.stat-card:hover {
  transform: scale(1.05);
}

.stat-card h2 {
  font-size: 2.5rem;
  margin: 0;
  color: #2c3e50;
}

.stat-card p {
  font-size: 1rem;
  color: #555;
}